extends base

mixin project_template(project)
    include templates/_project-mini

block styles
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/_project.css")

block content
    .section.tech--details 
        p.section--heading.creative Creative 
        p.section--heading.developer Developer 
        
        p.section--para.tech--description As a burgeoning 
            b UI/UX Designer
            | and 
            b Web Developer
            | , I am 
            br
            | presently immersed in the realm of front-end development
            br
            | while also gearing up to delve into the intricacies of back-
            br
            | end development. My current skill set encompasses an
            br 
            | array of languages including
            b HTML, CSS, and Javascript
            | ,
            br
            | alongside my proficiency in 
            b C/C++, C#, and Python
            | . 
            br
            | Leveraging tools such as Figma, I adeptly craft 
            br
            | designs that captivate and engage.

        p.section--para.tech--skills Furthermore, I had the privilege of interning as a 
            b Software 
            br
            | 
            b Engineering Intern at Microsoft
            | , an experience that 
            br
            | enriched my understanding of industry practices and 
            br
            | sharpened my skills. This journey is a testament to my 
            br
            | commitment to continuous growth and innovation within 
            br
            | the realm of technology.

        a.section--link.tech--link--resume(href="/anushtha-bageria-resume.pdf", target="_blank") Resume &nearr;
    
    .section.design--details 
        p.section--heading.lookbook Lookbook 
        
        p.section--para.design--description These are few illustrations I have made using Figma...

        .design--illustrations
            .design--col1 
                a.section--link.design--link(href="/designs") Lookbook &nearr;
                +project_template(projects[0])
                +project_template(projects[2])
            .design--col2 
                +project_template(projects[1])
                +project_template(projects[3])
        
    .section.contact--details
        p.contact--heading Let's Have A Talk
        p.mail Email id: 
            a(href="mailto:anushthabageria@gmail.com") anushthabageria@gmail.com
        