extends base

mixin project_template(project)
    include templates/_project-mini

block styles
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/_project.css")

block content
    .section.tech--details 
        p.section--heading.creative Creative 
        p.section--heading.developer Developer 
        
        p.section--para.tech--description A budding UI/UX Designer and Web Developer currently
            br
            | going on with front-end development and will learn
            br
            | about back-end development soon. 

        p.section--para.tech--skills My skill set includes languages HTML, CSS, Javascript,
            br
            | C/C++, Java,  Python and using tools like figma for 
            br 
            | designing.

        a.section--link.tech--link--resume(href="/anushtha-bageria-resume.pdf", target="_blank") Resume &nearr;
    
    .section.design--details 
        p.section--heading.lookbook Lookbook 
        
        p.section--para.design--description These are few illustrations I have made using Figma...

        .design--illustrations
            .design--col1 
                a.section--link.design--link(href="/gallery") Lookbook &nearr;
                +project_template(projects[0])
                +project_template(projects[2])
            .design--col2 
                +project_template(projects[1])
                +project_template(projects[3])
        
    .section.contact--details
        p.contact--heading Let's Have A Talk
        p.mail Email id: 
            a(href="mailto:anushthabageria@gmail.com") anushthabageria@gmail.com
        