extends base

mixin project_template(project)
    include templates/_project-mini

block styles
    link(rel="stylesheet", href="/css/projects.css")
    link(rel="stylesheet", href="/css/_project.css")

block content
    .projects 
        .form--search 
            form
                select.tags--select#tags(name="tag", required) 
                    option(value="") Search By Tag
                    each tag in tags
                        option(value=`${tag}`)= tag
                div.tags--select--custom
                    p.tags(data-value="") Search By Tag 
                    ul.tags--list
                        li.tags(data-value="") Search By Tag 
                        each tag in tags 
                            li.tags(value=`${tag}`)= tag
                button.filter--button(type="submit") Filter 

        - if(projects.length == 0)
            .nothing
                p Nothing to display here :(
                p Try searching with another tag.
        -else
            .design--illustrations
                each project in projects
                    +project_template(project)
