.footer 
    .footer--links 
        ul
            li 
                a(href="https://github.com/anu-phoenix", target="_blank")
                    i.fab.fa-github
            li 
                a(href="https://www.linkedin.com/in/anushtha-bageria/", target="_blank")
                    i.fab.fa-linkedin
            li 
                a(href="https://twitter.com/Anushtha_2002", target="_blank")
                    i.fab.fa-twitter-square
            li 
                a(href="https://www.instagram.com/anushtha_bageria/", target="_blank")
                    i.fab.fa-instagram
            li 
                a(href="https://discordapp.com/users/782226819587112960", target="_blank")
                    i.fab.fa-discord
