.footer 
    .footer--links 
        ul
            li 
                a(href="#")
                    i.fab.fa-github
            li 
                a(href="#")
                    i.fab.fa-linkedin
            li 
                a(href="#")
                    i.fab.fa-twitter-square
            li 
                a(href="#")
                    i.fab.fa-instagram
            li 
                a(href="#")
                    i.fab.fa-discord
    p.copyright Copyright &copy; 2022 Anushtha Bageria (PHOENIX)
