.header 
    .nav
        a(href="/")
            img(src="/images/logo.png", alt="AB") 
            span Anushtha Bageria
    .contactbtn 
        button(type="button", class="btn-contact", onclick="window.location.href = '/contact'") Contact Me