ul.navmenu 
    li.navitem
        a(href="") 
            span Portfolio 
    li.navitem
        a(href="") 
            span About Me
    li.navitem
        a(href="") 
            span Gallery 
    li.navitem
        a(href="") 
            span Projects 
    li.navitem
        a(href="") 
            span Contact 