ul.navmenu 
    li.navitem
        a(href="/") 
            span Portfolio 
    li.navitem
        a(href="/about") 
            span About Me
    li.navitem
        a(href="/designs") 
            span Gallery 
    li.navitem
        a(href="/projects") 
            span Projects 
    li.navitem
        a(href="/contact") 
            span Contact 