.sidebar-shown
    ul.social__links 
        li 
            a(href="https://dribbble.com/anu_phoenix", target="_blank")
                i.fab.fa-dribbble
        li 
            a(href="https://www.linkedin.com/in/anushtha-bageria/", target="_blank")
                i.fab.fa-linkedin-in 
        li 
            a(href="https://github.com/anu-phoenix", target="_blank")
                i.fab.fa-github 