.sidebar-shown
    ul.social__links 
        li 
            a(href="#")
                i.fab.fa-dribbble
        li 
            a(href="#")
                i.fab.fa-linkedin-in 
        li 
            a(href="#")
                i.fab.fa-github 